export(addGraph)
export(as.ntw)
export(extractLine)
export(extractStation)
export(findLine)
export(findRBL)
export(findRoute)
export(findS)
export(findStation)
export(findV)
export(getMonitor.vie)
export(getNetwork.vie)
export(hasAPIkey)
export(is.ntw)
export(makeGraph)
export(parseMonitor.vie)
export(randomRoute)
export(setAPIkey)
export(setEdgeWeights)
import(ggplot2)
import(RCurl)
import(rjson)
S3method(is,ntw)
S3method(plot,ntw)
S3method(print,summary.ntw)
S3method(summary,ntw)
